html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

nav {
  background: #1f1f1f;
  padding: 10px;
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
